@model IEnumerable<Concesionario.Models.Vehiculo>

@{

    ViewBag.Title = "title";
    var idTipo = ViewBag.idTipo;
}

<style>
    .addBox {
        padding: 10px;
        width: 100%;
    }

        .addBox input {
            display: block;
            margin: 20px auto;
        }
</style>
<h2>Vehículos</h2>
<hr />
<h3>Buscador</h3>
<select class="form-control" id="selectBuscar">
    <option value="matricula">Matrícula</option>
    <option value="marca">Marca</option>
</select><br />
<input class="form-control" type="text" id="txtBuscar" /><br />
<button class="btn btn-primary" id="btnBuscar">Buscar</button>
<input type="hidden" value="@idTipo" id="hdnTipo" />
<hr />
<br /><br />
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Nuevo vehículo
</button>
<div id="lista">
    @Html.Partial("_listadoVehiculo", Model)
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo producto</h4>
            </div>
            <div class="modal-body">
                <div class="addBox">
                    <input class="form-control" type="text" id="txtMatricula" placeholder="Matrícula" />
                    <input class="form-control" type="text" id="txtMarca" placeholder="Marca" />
                    <input class="form-control" type="text" id="txtModelo" placeholder="Modelo" />
                    <input class="form-control" type="text" id="txtCoste" placeholder="Coste" />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnAdd" data-dismiss="modal">Añadir</button>
            </div>
        </div>
    </div>
</div>

@section js
{
    <script>
        function buscar() {
            var url = "@Url.Action("Buscar")";
            var txt = $("#txtBuscar").val();
            url += "?value=" + txt + "&filtro=" + $("#selectBuscar").val() + "&tipo=@idTipo";

            $("#lista").load(url);
        }

        $("#btnAdd").click(function () {
            alta();
        });

        function alta() {

            var data = {
                matricula: $("#txtMatricula").val(),
                modelo: $("#txtModelo").val(),
                marca: $("#txtMarca").val(),
                coste: $("#txtCoste").val(),
                tipo: $("#hdnTipo").val()
            };

            var url = "@Url.Action("Alta")";
            $.ajax({
                url: url,
                data: JSON.stringify(data),
                type: "POST",
                headers: { "Content-Type": "application/json" },
                dataType: "json",
                success: function (res) {
                    $("#txtBuscar").val("");
                    buscar();
                    alert("Guardado");
                    console.log(res);
                }

            });
        }


        $("#btnBuscar").click(function () {
            buscar();
        });


    </script>
}
